// @import "../../../../assets/css/common.scss";
@import "../../../../assets/css/setting.scss";
@import "../../../assets/css/works-header.scss";
$work-color: #6BBECC;
$work-color_selected: rgb(82, 152, 165);
$work-text-color: $black;
@import "../../../assets/css/persona.scss";
.works-header_work-caption-container{
    background-color: $work-color;
    & h2,p{
        color: $work-text-color;
    }
}
.work-status{
    border: solid 2px $work-color;
    &_vertical-bar{
        background-color: $work-color;
    }
}
.production-flow-container{
    border-top: solid 4px $work-color ;
    @media (max-width: $breakpoints_s){
        border: none;
        border-left: 4px solid $work-color;
    }
}
.work-header{
    &-img{
        width: 100%;
        height: auto;
        &-container{
            width: 80%;
            margin: 0 10% 40px 10%;
        }
    }
    &_caption{
        width: 30em;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 40px;
        @media (max-width: $breakpoints_s){
            width: 90%;
        }
    }
}
.infographic{
    &_container{
        display: flex;
        @media (max-width: $breakpoints_m){
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin: 0 auto;
        }
    }
    &_img{
        width: 100%;
        height: auto;
        &_container{
            width: 60%;
            margin-right: 40px;
            @media (max-width: $breakpoints_m){
                width: 90%;
                max-width: 440px;
                margin: 0 auto 40px auto;
            }
        }
    }
    &_caption{
        width: 90%;
        max-width: 30em;
        margin: 0 auto;
    }
}
.motiongraphic{
    &_container{
        display: flex;
        margin-bottom: 80px;
        @media (max-width: $breakpoints_m){
            flex-direction: column;
            margin: 0 auto 40px auto;
            width: 90%;
            max-width: 600px;
        }
    }
    &_header-img{
        width: 50%;
        @media (max-width: $breakpoints_m){
            order: 1;
            width: 100%;
            margin: 0 auto 24px auto;
        }
    }
    &_caption{
        width: 50%;
        max-width: 24em;
        margin-right: 40px;
        @media (max-width: $breakpoints_m){
            order: 2;
            margin: 0 auto 0 0;
            width: 100%;
        }
    }
    &_img{
        width: 48%;
        margin-bottom: 60px;
        @media (max-width: $breakpoints_m){
            margin: 0 auto 32px auto;
            max-width: 400px;
            width: 90%;
        }
        &_container{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (max-width: $breakpoints_m){
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}