// @import "../../../../assets/css/common.scss";
@import "../../../../assets/css/setting.scss";
@import "../../../assets/css/works-header.scss";
$work-color: #009FB7;
$work-color_selected: rgb(14, 114, 129);
$work-text-color: #eaf0ef;
@import "../../../assets/css/persona.scss";
.works-header_work-caption-container{
    background-color: $work-color;
    & h2,p{
        color: $work-text-color;
    }
}
.work-status{
    border: solid 2px $work-color;
    &_vertical-bar{
        background-color: $work-color;
    }
}
.production-flow-container{
    border-top: solid 4px $work-color ;
    @media (max-width: $breakpoints_s){
        border: none;
        border-left: 4px solid $work-color;
    }
}
.work-header{
    &-img{
        width: 100%;
        height: auto;
        &-container{
            width: 80%;
            max-width: 800px;
            margin: 0 auto 40px auto;
        }
    }
    &_caption{
        width: 30em;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 80px;
        @media (max-width: $breakpoints_s){
            width: 90%;
        }
    }
}
.logo{
    &_caption{
        max-width: 30em;
        margin: 0 auto;
        @media (max-width: $breakpoints_s){
            margin: 0 auto;
        }
    }
    &_img{
        width: 100%;
        height: auto;
        &-container{
            display: flex;
            justify-content: space-around;
            margin: 0 auto 40px auto;
            align-items: center;
            width: 80%;
            max-width: 1200px;
        }
        &_wrapper{
            width: 18%;
            height: auto;
        }
        &_large-wrapper{
            width: 28%;
            height: auto;
        }
    }
}
.generativeart{
    border: none;
    width: 100%;
    height: 100%;
    &_container{
        width: 80%;
        height: 60vh;
        margin: 0 auto 60px auto;
        border: none;
        overflow: hidden;
    }
    &_process{
        &_container{
            background-color: $bg-gray;
            padding: 40px;
            max-width: 840px;
            display: flex;
            justify-content: center;
            @media (max-width: $breakpoints_m){
                flex-direction: column;
            }
        }
        &-caption{
            max-width: 22em;
            width: 40%;
            margin-top: auto;
            margin-bottom: 8px;
            @media (max-width: $breakpoints_m){
                margin: 0 auto;
                width: 100%;
            }
        }
        &-img{
            width: 100%;
            height: auto;
            &_container{
                width: calc(60% - 24px);
                margin-right: 24px;
                max-width: 400px;
                @media (max-width: $breakpoints_m){
                    margin: 0 auto 24px auto;
                    max-width: 320px;
                    width: 100%;
                }
            }
        }
    }
    
    // &_img{
    //     width: 46%;
    //     &_containr{
    //         width: 70%;
    //         margin: 0 auto;
    //         display: flex;
    //         justify-content: space-between;
    //         margin-bottom: 80px;
    //     }
    // }
}
