// @import "../../../../assets/css/common.scss";
@import "../../../../assets/css/setting.scss";
@import "../../../assets/css/works-header.scss";
$work-color: #E9D127;
$work-color_selected: rgb(191, 172, 31);
$work-text-color: #231815;
@import "../../../assets/css/persona.scss";
.works-header_work-caption-container{
  background-color: $work-color;
  & h2,p{
    color: $work-text-color;
  }
}
.work-status{
  border: solid 2px $work-color;
  &_vertical-bar{
    background-color: $work-color;
  }
}
.production-flow-container{
  border-top: solid 4px $work-color ;
  @media (max-width: $breakpoints_s){
    border: none;
    border-left: 4px solid $work-color;
  }
}
.work-persona__pain-title{
  color: $work-color;
}
.service-summary{
  &_container{
    @media (max-width: $breakpoints_l){
      width: 90%;
      margin: 0 auto;
    }
  }
  &_title{
    font-size: $subheading-size;
    font-weight: bold;
    font-family: $font-jp_standard;
    margin-bottom: 80px;
    text-align: center;
    @media (max-width: $breakpoints_l){
      max-width: 23em;
      text-align: center;
      margin: 0 auto 80px auto;   
    }
  }
  &_illustration{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 20%;
    @media (max-width: $breakpoints_l){
      width: 100%;
      margin: 0 auto;
      align-items: center;
    }
    &_circle{
      width: 144px;
      height: 144px;
      border-radius: 144px;
      background-color: $work-color;
      text-align: center;
      font-size: $title-size;
      font-family: $font-jp_standard;
      line-height: 144px;
      @media (max-width: $breakpoints_l){
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: $text-size;
      }
      @media (max-width: $breakpoints_s){
        width: 64px;
        height: 64px;
        line-height: 64px;
      }
    }
    &_flow-container{
      height: 144px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 40px;
      @media (max-width: $breakpoints_l){
        height: auto;
      }
      @media (max-width: $breakpoints_m){
        margin: 0 20px;
      }
    }
    &_text{
      margin-bottom: 8px;
      text-align: center;
      @media (max-width: $breakpoints_l){
        margin-bottom: 0px;
      }
    }
    &_arrow{ 
      &.left{
        transform: scale(-1, 1);
      }
    }
  }
}
.solution-point{
  &_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 714px;
    margin: 0 auto 80px auto;
    @media (max-width: $breakpoints_l){
      width: 90%;
      margin: 0 auto 80px auto;
      flex-direction: column;
    }
  }
  &_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $breakpoints_l){
      flex-direction: row;
      align-items: center;
    }
    @media (max-width: $breakpoints_s){
      flex-direction: column;
    }
  }
  &_circle{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: $work-color;
    text-align: center;
    font-size: $subheading-size;
    font-family: $font-jp_standard;
    line-height: 200px;
    margin-bottom: 20px;
    @media (max-width: $breakpoints_l){
      width: 10em;
      height: 2em;
      border-radius: 0;
      line-height: 2em;
      margin: 0;
      margin-right: 16px;
    }
    @media (max-width: $breakpoints_s){
      margin: 0;
      margin-bottom: 16px;
    }
  }
  &_text{
    text-align: center;
    @media (max-width: $breakpoints_l){
      text-align: left;
    }
    @media (max-width: $breakpoints_s){
      text-align: center;
    }
  }
  &_multiply{
    width: 36px;
    height: 36px;
    margin-bottom: 68px;
    @media (max-width: $breakpoints_l){
      width: 24px;
      height: 24px;
      margin: 16px 0;
    }
  }
  
}
.solution_work-contents{
  &-title{
    text-align: center;
    font-size: $text-size;
    font-family: $font-jp_standard;
    margin-bottom: 40px;
  }
  &-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto 40px auto;
    @media (max-width: $breakpoints_l){
      max-width: 560px;
      width: 80%;
    }
    @media (max-width: $breakpoints_m){
      max-width: 560px;
      width: 90%;
    }
    @media (max-width: $breakpoints_s){
      max-width: 280px;
    }
  }
  &-card{
    background-color: $bg-gray;
    text-align: center;
    max-width: 180px;
    width: 32%;
    padding: 34px 0; 
    border-radius: 8px;
    margin-bottom: 24px;
    @media (max-width: $breakpoints_l){
      width: 32%;
      max-width: 180px;
      padding: 16px 0;
    }
    @media (max-width: $breakpoints_s){
      width: 128px;
      margin: 0 auto 16px auto;
    }
  }
  &-genre{
    font-size: $subheading-size;
    font-family: $font-jp_decoration;
    margin-bottom: 12px;
    @media (max-width: $breakpoints_l){
      font-size: $text-size;
    }
    &-text{
      @media (max-width: $breakpoints_s){
        font-size: $caption-size;
      }
    }
  }
  &-caption{
    font-size: $text-size;
    font-family: $font-jp_standard;
    @media (max-width: $breakpoints_m){
      font-size: $caption-size;
    }
  }
  &-text{
    font-size: $heading-size;
    font-family: $font-jp_standard;
    font-weight: bold;
    text-align: center;
    @media (max-width: $breakpoints_s){
      font-size: $subheading-size;
      max-width: 12em;
      margin: 0 auto;
    }
  }
}
.uxuidesign-caption{
  max-width: 30em;
  width: 90%;
  margin: 0 auto 100px auto;
  text-align: left;
  font-family: $font-jp_standard;
  font-size: $text-size;
  @media (max-width: $breakpoints_s){
    max-width: 30em;
    width: 90%;
    margin: 0 auto 40px auto;
  }
}
.uidesign{
  &-card{
    display: flex;
    width: 728px;
    margin: 0 auto 100px auto;
    justify-content: space-between;
    @media (max-width: $breakpoints_l){
      flex-direction: column;
      width: 100%;
    }
  }
  &_contents{
    width: 18em;
    @media (max-width: $breakpoints_l){
      order: 1;
      max-width: 18em;
      width: 90%;
      margin: 0 auto 36px auto
    }
    @media (max-width: $breakpoints_s){
      margin-bottom: 16px;
    }
    &-title{
      font-size: $text-size;
      font-family: $font-en_standard;
      color: $text-gray;
      font-weight: lighter;
      line-height: 0;
      @media (max-width: $breakpoints_l){
        text-align: center;
      }
    }
    &-subtitle{
      font-size: $title-size;
      font-family: $font-jp_decoration;
      color: $work-color;
      @media (max-width: $breakpoints_l){
        text-align: center;
      }
      @media (max-width: $breakpoints_m){
        font-size: $subheading-size;
      }
    }
    &-text{
      font-size: $text-size;
      font-family: $font-jp_standard;
      @media (max-width: $breakpoints_m){
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
  &_title{
    text-align: center;
    font-size: $display1-size;
    font-family: $font-jp_decoration;
    margin-bottom: 80px;
  }
  &_img{
    width: 100%;
    height: auto;
    border: $work-text-color solid 2px;
    &-box{
      max-width: 400px;
      width: 90%;
      height: auto;
      @media (max-width: $breakpoints_l){
        order: 2;
        margin: 0 auto;
      }
      @media (max-width: $breakpoints_s){
        width: 80%;
      }
    }
  }
}
.lpdesign{
  &_contents{
    display: flex;
    justify-content: center;
    @media (max-width: $breakpoints_m){
      max-width: 400px;
      width: 90%;
      margin: 0 auto;
      flex-direction: column;
    }
  }
  &_explanation{
    width: 18em;
    margin-right: 5%;
    @media (max-width: $breakpoints_m){
      // display: flex;
      max-width: 24em;
      width: 100%;
      margin: 0;
    }
  }
  &_mockup-img{
    width: 100%;
    height: auto;
    &-container{
      width: 100%;
      margin: 0 auto;
      @media (max-width: $breakpoints_m){
        display: none;
      }
    }
  }
  &_caption-container{
    margin-bottom: 40px;
  }
  &_title{
    font-size: $heading-size;
    font-family: $font-jp_standard;
    margin-bottom: 16px;
    color: $work-color;
    @media (max-width: $breakpoints_m){
      font-size: $subheading-size;
      max-width: 11em;
    }
  }
  &_text{
    padding-left: 8px;
  }
  &_img{
    width: 100%;
    height: auto;
    border: $work-text-color solid 2px;
    &-container{
      width: 400px;
      height: auto;
      @media (max-width: $breakpoints_m){
        width: 100%;
      }
    }
  }
  
}
.logodesign{
  &_illustration{
    &-container{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
    }
    &-plus{
      width: 32px;
      height: 32px;
      margin: 0 40px;
      @media (max-width: $breakpoints_s){
        margin: 0 16px;
        width: 16px;
        height: 16px;
        margin-bottom: 4px;
      }
    }
    &-text{
      font-size: $display1-size;
      font-family: $font-en_standard;
      font-weight: bold;
      @media (max-width: $breakpoints_s){
        font-size: $heading-size;
      }
    }
  }
  &_img{
    width: 100%;
    height: auto;
    &-container{
      width: 50%;
      height: auto;
      margin: 0 auto;
      margin-bottom: 80px;
      @media (max-width: $breakpoints_s){
        margin: 0 auto;
        margin-bottom: 40px;
        width: 80%;
      }
    }
  }
  &_color-code{
    &_container{
      margin: 0 auto 40px auto;
      width: 220px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      @media (max-width: $breakpoints_s){
        margin-bottom: 20px;
        width: 110px;
        height: 20px;
      }
    }
    width: 40px;
    height: 40px;
    @media (max-width: $breakpoints_s){
      width: 20px;
      height: 20px;
    }
    &.yellow{
      background-color: $work-color;
    }
    &.black{
      background-color: $work-text-color;
    }
    &.gray{
      background-color: #eee;
    }
    &.white{
      background-color: #fff;
      border: 1px solid $work-text-color;
    }
  }
  &_text{
    max-width: 22em;
    margin: 0 auto;
    width: 90%;
  }
}
