.loading_img {
  position: absolute;
  margin: auto;
  width: 144px;
  height: auto;
}
.loading_container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  color: #fff;
  z-index: 9;
}
.loading_container.is-loading {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 10000;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 21.6px;
  height: 21.6px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 21.6px;
  height: 21.6px;
  border: 10.8px solid #ECBE56;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ECBE56 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  vertical-align: baseline;
  margin: 0;
  transition: all 500ms 0s ease;
}

body {
  margin: 0;
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  line-height: 1.7em;
  color: #333;
}
p::-moz-selection {
  background-color: #ECBE56;
  color: #2f2f4a;
}
p::selection {
  background-color: #ECBE56;
  color: #2f2f4a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
}
h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection {
  background-color: #ECBE56;
  color: #2f2f4a;
}
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background-color: #ECBE56;
  color: #2f2f4a;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Amiko", sans-serif;
}
button:focus {
  outline: 0;
}

ul {
  padding: 0;
}

li {
  font-size: 16px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  list-style: none;
}
li::-moz-selection {
  background-color: #ECBE56;
  color: #2f2f4a;
}
li::selection {
  background-color: #ECBE56;
  color: #2f2f4a;
}

a:link {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
}
a:hover {
  color: #333;
}
a:active {
  color: #333;
}

header {
  width: 100%;
}

.global-nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 100vh;
  background-color: #fff;
  border-right: #ECBE56 4px solid;
  transition: all 200ms 0s ease;
  padding-left: 16px;
  padding-top: 32px;
}
@media (max-width: 894px) {
  .global-nav {
    width: 100vw;
    height: 60px;
    box-sizing: border-box;
    padding: 4px 20px 0 20px;
    border-right: none;
    border-bottom: #ECBE56 4px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.global-nav_logo {
  cursor: pointer;
  width: 88px;
  height: auto;
  margin-bottom: 24px;
  padding-left: 8px;
}
@media (max-width: 894px) {
  .global-nav_logo {
    width: 44px;
    height: auto;
    margin: 0;
  }
}
.global-nav_link-top-container {
  margin-bottom: 24px;
  padding-left: 12px;
}
@media (max-width: 894px) {
  .global-nav_link-top-container {
    display: flex;
    margin: auto 0;
  }
}
.global-nav_link {
  cursor: pointer;
  margin-bottom: 8px;
}
@media (max-width: 894px) {
  .global-nav_link:not(:last-child) {
    margin: 0 16px 0 0;
  }
}
.global-nav a {
  font-size: 20px;
  font-family: "Amiko", sans-serif;
  color: #333;
  font-weight: bold;
}
.global-nav a:hover {
  background-color: #ECBE56;
}

main {
  padding-left: 160px;
  width: calc(100% - 160px);
}
@media (max-width: 894px) {
  main {
    padding: 0;
    width: 100%;
  }
}

.works-header {
  position: relative;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 160px;
  width: calc(100% - 160px);
  padding-left: 80px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .works-header {
    height: auto;
    padding: 0;
  }
}
@media (max-width: 894px) {
  .works-header {
    width: 100%;
    margin-top: 60px;
    left: 0;
    margin-bottom: 80px;
  }
}
@media (max-width: 480px) {
  .works-header {
    margin-bottom: 40px;
  }
}
.works-header_img {
  height: 100%;
  width: auto;
}
@media (max-width: 1024px) {
  .works-header_img {
    width: 100%;
    height: auto;
  }
}
.works-header_img-container {
  width: auto;
  height: 70vh;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}
@media (max-width: 1024px) {
  .works-header_img-container {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 40px;
  }
}
.works-header_work-title {
  font-size: 56px;
  font-family: "Amiko", serif;
  margin-bottom: 24px;
  display: inline-block;
  line-height: 1em;
}
@media (max-width: 480px) {
  .works-header_work-title {
    font-size: 48px;
  }
}
.works-header_work-title_jp {
  font-size: 48px;
  font-family: "Amiko", serif;
  margin-bottom: 24px;
  display: inline-block;
  line-height: 1em;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
}
@media (max-width: 480px) {
  .works-header_work-title_jp {
    font-size: 24px;
  }
}
.works-header_work-genre {
  font-size: 16px;
  font-family: "Amiko", sans-serif;
  line-height: 1em;
}
.works-header_text-container {
  z-index: 100;
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .works-header_text-container {
    margin-left: 40px;
    margin-bottom: 24px;
    margin-top: 0;
  }
}
.works-header_text {
  background-color: #fff;
}
.works-header_work-caption-container {
  background-color: #ECBE56;
  z-index: 100;
  padding: 64px;
  width: 30em;
  margin-top: 200px;
}
@media (max-width: 1024px) {
  .works-header_work-caption-container {
    max-width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 894px) {
  .works-header_work-caption-container {
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .works-header_work-caption-container {
    max-width: 90%;
    box-sizing: border-box;
    padding: 14px 16px;
    margin: 0 auto;
  }
}
.works-header_work-caption-header {
  font-size: 20px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  color: #333;
  line-height: 1.6em;
  margin-bottom: 16px;
  text-align: left;
}
@media (max-width: 480px) {
  .works-header_work-caption-header {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.works-header_work-caption-text {
  font-size: 16px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  color: #333;
  max-width: 30em;
  margin: 0 auto;
}
@media (max-width: 894px) {
  .works-header_work-caption-text {
    width: 100%;
  }
}

.work-status {
  margin: 0 auto 100px auto;
  width: 700px;
  border: solid 1px #ECBE56;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
}
@media (max-width: 1024px) {
  .work-status {
    flex-direction: column;
    width: 360px;
  }
}
@media (max-width: 480px) {
  .work-status {
    width: 80%;
    box-sizing: border-box;
  }
}
.work-status_parts {
  display: flex;
}
.work-status_type {
  margin-right: 28px;
}
.work-status_vertical-bar {
  height: 32px;
  width: 2px;
  background-color: #ECBE56;
  margin: 0 24px;
}
@media (max-width: 1024px) {
  .work-status_vertical-bar {
    height: 1px;
    width: 320px;
    background-color: #ECBE56;
    margin: 8px 0;
  }
}
@media (max-width: 480px) {
  .work-status_vertical-bar {
    width: 100%;
  }
}

.work-explanation_container {
  margin-bottom: 160px;
}
.work-explanation_title {
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}
.work-explanation_text {
  width: 30em;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 80px;
}
@media (max-width: 480px) {
  .work-explanation_text {
    width: 90%;
    text-align: justify;
  }
}

.production-flow-container {
  display: flex;
  max-width: 480px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  border-top: 4px solid #ECBE56;
  padding: 20px;
}
@media (max-width: 480px) {
  .production-flow-container {
    border: none;
    border-left: 2px solid #ECBE56;
    flex-direction: column;
    width: 60%;
    margin: 0 20%;
  }
}
.production-flow_period {
  font-family: "Amiko", sans-serif;
}
@media (max-width: 480px) {
  .production-flow_period {
    margin-right: 12px;
  }
}
.production-flow_genre {
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
}
@media (max-width: 480px) {
  .production-flow {
    display: flex;
    margin-bottom: 12px;
  }
}

.work-persona-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 840px;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .work-persona-container {
    width: 100%;
    flex-direction: column;
  }
  .work-persona-container.student {
    margin-bottom: 80px;
  }
}
.work-persona_profile-container {
  margin-right: 40px;
  width: 24em;
}
@media (min-width: 1024px) {
  .work-persona_profile-container.left {
    margin-right: 0;
    margin-left: 40px;
  }
}
@media (max-width: 1024px) {
  .work-persona_profile-container {
    display: flex;
    width: 90%;
    margin: 0 auto 24px auto;
    order: 1;
  }
}
@media (max-width: 894px) {
  .work-persona_profile-container {
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
    width: 70%;
  }
}
@media (max-width: 480px) {
  .work-persona_profile-container {
    max-width: 340px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .work-persona_profile-img-container {
    width: 100%;
    height: auto;
    text-align: right;
  }
}
@media (max-width: 1024px) {
  .work-persona_profile-img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 894px) {
  .work-persona_profile-img {
    max-width: 300px;
    width: 80%;
  }
}
@media (max-width: 480px) {
  .work-persona_profile-img {
    max-width: 200px;
    width: 100%;
  }
}
.work-persona_profile-text {
  font-size: 16px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .work-persona_profile-text {
    width: 32em;
  }
}
@media (max-width: 480px) {
  .work-persona_profile-text {
    padding: 0;
    font-size: 14px;
    margin-bottom: 8px;
    max-width: 90%;
    margin: 0 auto;
  }
}
.work-persona_pain-container {
  width: 27em;
  height: auto;
  padding: 24px 40px;
  background-color: #f4f4f4;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .work-persona_pain-container {
    width: 70%;
    margin: 0 auto;
    order: 2;
  }
}
@media (max-width: 480px) {
  .work-persona_pain-container {
    width: 100%;
    margin: 0 auto;
    padding: 24px;
  }
}
.work-persona_pain-title {
  margin-bottom: 16px;
  font-size: 24px;
  font-family: "Amiko", sans-serif;
}
.work-persona_pain-text {
  font-size: 16px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
}

.works-header_work-caption-container {
  background-color: #E9D127;
}
.works-header_work-caption-container h2, .works-header_work-caption-container p {
  color: #231815;
}

.work-status {
  border: solid 2px #E9D127;
}
.work-status_vertical-bar {
  background-color: #E9D127;
}

.production-flow-container {
  border-top: solid 4px #E9D127;
}
@media (max-width: 480px) {
  .production-flow-container {
    border: none;
    border-left: 4px solid #E9D127;
  }
}

.work-persona__pain-title {
  color: #E9D127;
}

@media (max-width: 1024px) {
  .service-summary_container {
    width: 90%;
    margin: 0 auto;
  }
}
.service-summary_title {
  font-size: 24px;
  font-weight: bold;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 1024px) {
  .service-summary_title {
    max-width: 23em;
    text-align: center;
    margin: 0 auto 80px auto;
  }
}
.service-summary_illustration {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 20%;
}
@media (max-width: 1024px) {
  .service-summary_illustration {
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}
.service-summary_illustration_circle {
  width: 144px;
  height: 144px;
  border-radius: 144px;
  background-color: #E9D127;
  text-align: center;
  font-size: 20px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  line-height: 144px;
}
@media (max-width: 1024px) {
  .service-summary_illustration_circle {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .service-summary_illustration_circle {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
}
.service-summary_illustration_flow-container {
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 40px;
}
@media (max-width: 1024px) {
  .service-summary_illustration_flow-container {
    height: auto;
  }
}
@media (max-width: 894px) {
  .service-summary_illustration_flow-container {
    margin: 0 20px;
  }
}
.service-summary_illustration_text {
  margin-bottom: 8px;
  text-align: center;
}
@media (max-width: 1024px) {
  .service-summary_illustration_text {
    margin-bottom: 0px;
  }
}
.service-summary_illustration_arrow.left {
  transform: scale(-1, 1);
}

.solution-point_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 714px;
  margin: 0 auto 80px auto;
}
@media (max-width: 1024px) {
  .solution-point_container {
    width: 90%;
    margin: 0 auto 80px auto;
    flex-direction: column;
  }
}
.solution-point_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .solution-point_card {
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .solution-point_card {
    flex-direction: column;
  }
}
.solution-point_circle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #E9D127;
  text-align: center;
  font-size: 24px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  line-height: 200px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .solution-point_circle {
    width: 10em;
    height: 2em;
    border-radius: 0;
    line-height: 2em;
    margin: 0;
    margin-right: 16px;
  }
}
@media (max-width: 480px) {
  .solution-point_circle {
    margin: 0;
    margin-bottom: 16px;
  }
}
.solution-point_text {
  text-align: center;
}
@media (max-width: 1024px) {
  .solution-point_text {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .solution-point_text {
    text-align: center;
  }
}
.solution-point_multiply {
  width: 36px;
  height: 36px;
  margin-bottom: 68px;
}
@media (max-width: 1024px) {
  .solution-point_multiply {
    width: 24px;
    height: 24px;
    margin: 16px 0;
  }
}

.solution_work-contents-title {
  text-align: center;
  font-size: 16px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  margin-bottom: 40px;
}
.solution_work-contents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 640px;
  margin: 0 auto 40px auto;
}
@media (max-width: 1024px) {
  .solution_work-contents-container {
    max-width: 560px;
    width: 80%;
  }
}
@media (max-width: 894px) {
  .solution_work-contents-container {
    max-width: 560px;
    width: 90%;
  }
}
@media (max-width: 480px) {
  .solution_work-contents-container {
    max-width: 280px;
  }
}
.solution_work-contents-card {
  background-color: #f4f4f4;
  text-align: center;
  max-width: 180px;
  width: 32%;
  padding: 34px 0;
  border-radius: 8px;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .solution_work-contents-card {
    width: 32%;
    max-width: 180px;
    padding: 16px 0;
  }
}
@media (max-width: 480px) {
  .solution_work-contents-card {
    width: 128px;
    margin: 0 auto 16px auto;
  }
}
.solution_work-contents-genre {
  font-size: 24px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  .solution_work-contents-genre {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .solution_work-contents-genre-text {
    font-size: 14px;
  }
}
.solution_work-contents-caption {
  font-size: 16px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
}
@media (max-width: 894px) {
  .solution_work-contents-caption {
    font-size: 14px;
  }
}
.solution_work-contents-text {
  font-size: 28px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 480px) {
  .solution_work-contents-text {
    font-size: 24px;
    max-width: 12em;
    margin: 0 auto;
  }
}

.uxuidesign-caption {
  max-width: 30em;
  width: 90%;
  margin: 0 auto 100px auto;
  text-align: left;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  font-size: 16px;
}
@media (max-width: 480px) {
  .uxuidesign-caption {
    max-width: 30em;
    width: 90%;
    margin: 0 auto 40px auto;
  }
}

.uidesign-card {
  display: flex;
  width: 728px;
  margin: 0 auto 100px auto;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .uidesign-card {
    flex-direction: column;
    width: 100%;
  }
}
.uidesign_contents {
  width: 18em;
}
@media (max-width: 1024px) {
  .uidesign_contents {
    order: 1;
    max-width: 18em;
    width: 90%;
    margin: 0 auto 36px auto;
  }
}
@media (max-width: 480px) {
  .uidesign_contents {
    margin-bottom: 16px;
  }
}
.uidesign_contents-title {
  font-size: 16px;
  font-family: "Amiko", sans-serif;
  color: rgb(103, 103, 103);
  font-weight: lighter;
  line-height: 0;
}
@media (max-width: 1024px) {
  .uidesign_contents-title {
    text-align: center;
  }
}
.uidesign_contents-subtitle {
  font-size: 20px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  color: #E9D127;
}
@media (max-width: 1024px) {
  .uidesign_contents-subtitle {
    text-align: center;
  }
}
@media (max-width: 894px) {
  .uidesign_contents-subtitle {
    font-size: 24px;
  }
}
.uidesign_contents-text {
  font-size: 16px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
}
@media (max-width: 894px) {
  .uidesign_contents-text {
    width: 100%;
    margin-bottom: 16px;
  }
}
.uidesign_title {
  text-align: center;
  font-size: 32px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  margin-bottom: 80px;
}
.uidesign_img {
  width: 100%;
  height: auto;
  border: #231815 solid 2px;
}
.uidesign_img-box {
  max-width: 400px;
  width: 90%;
  height: auto;
}
@media (max-width: 1024px) {
  .uidesign_img-box {
    order: 2;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .uidesign_img-box {
    width: 80%;
  }
}

.lpdesign_contents {
  display: flex;
  justify-content: center;
}
@media (max-width: 894px) {
  .lpdesign_contents {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }
}
.lpdesign_explanation {
  width: 18em;
  margin-right: 5%;
}
@media (max-width: 894px) {
  .lpdesign_explanation {
    max-width: 24em;
    width: 100%;
    margin: 0;
  }
}
.lpdesign_mockup-img {
  width: 100%;
  height: auto;
}
.lpdesign_mockup-img-container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 894px) {
  .lpdesign_mockup-img-container {
    display: none;
  }
}
.lpdesign_caption-container {
  margin-bottom: 40px;
}
.lpdesign_title {
  font-size: 28px;
  font-family: dnp-shuei-gothic-gin-std, sans-serif;
  margin-bottom: 16px;
  color: #E9D127;
}
@media (max-width: 894px) {
  .lpdesign_title {
    font-size: 24px;
    max-width: 11em;
  }
}
.lpdesign_text {
  padding-left: 8px;
}
.lpdesign_img {
  width: 100%;
  height: auto;
  border: #231815 solid 2px;
}
.lpdesign_img-container {
  width: 400px;
  height: auto;
}
@media (max-width: 894px) {
  .lpdesign_img-container {
    width: 100%;
  }
}

.logodesign_illustration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.logodesign_illustration-plus {
  width: 32px;
  height: 32px;
  margin: 0 40px;
}
@media (max-width: 480px) {
  .logodesign_illustration-plus {
    margin: 0 16px;
    width: 16px;
    height: 16px;
    margin-bottom: 4px;
  }
}
.logodesign_illustration-text {
  font-size: 32px;
  font-family: "Amiko", sans-serif;
  font-weight: bold;
}
@media (max-width: 480px) {
  .logodesign_illustration-text {
    font-size: 28px;
  }
}
.logodesign_img {
  width: 100%;
  height: auto;
}
.logodesign_img-container {
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 80px;
}
@media (max-width: 480px) {
  .logodesign_img-container {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;
  }
}
.logodesign_color-code {
  width: 40px;
  height: 40px;
}
.logodesign_color-code_container {
  margin: 0 auto 40px auto;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .logodesign_color-code_container {
    margin-bottom: 20px;
    width: 110px;
    height: 20px;
  }
}
@media (max-width: 480px) {
  .logodesign_color-code {
    width: 20px;
    height: 20px;
  }
}
.logodesign_color-code.yellow {
  background-color: #E9D127;
}
.logodesign_color-code.black {
  background-color: #231815;
}
.logodesign_color-code.gray {
  background-color: #eee;
}
.logodesign_color-code.white {
  background-color: #fff;
  border: 1px solid #231815;
}
.logodesign_text {
  max-width: 22em;
  margin: 0 auto;
  width: 90%;
}/*# sourceMappingURL=style.css.map */